@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: "Open Sans", sans-serif;;
        
}

main {
    margin: 0px;
    height: 100%;
    width: 100;
}

#header {
    display: flex;
    justify-content: space-between;
    padding: 50px 60px;


}

nav ul {
    display: flex;
    list-style: none;
    gap: 30px;
}

.first-section {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 60px;
}

.content {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.input {
    display: flex;
    gap: 20px;
}

.input input {
    padding: 15px;
    border: 1px solid hsl(238, 22%, 44%);
    border-radius: 5px;
    width: 300px;
}

button {
    background-color: hsl(224, 93%, 58%);
    color: white;
    padding: 15px;
    border-radius: 4px;
    width: 200px;
    cursor: pointer;
    border: none;
}

button:hover {
    background-color: hsla(224, 93%, 58%, 0.39);
}

.image img {
    width: auto;
    height: 320px;
}

.sec-section {
    background-image: url(../images/bg-curve-desktop.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 60px;
}

.card {
    border-radius: 8px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.39);
    width: 70%;
    display: flex;
    flex-direction: column;
    padding: 30px;
    text-align: justify;
}



.img-card {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 10px;
}

.user {
    display: flex;
    gap: 1rem;
    margin-top: 18px;
}

.names {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.name {
    font-weight: 700;
    display: flex;
    justify-content: flex-start;
    font-size: 18px;
}

.cargo {
    font-size: 12px;
    font-weight: 400;
}

.avatar-image img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

#span {
    display: flex;
    align-items: center;
    gap: 8px;
    border-bottom: 1px solid hsl(170, 45%, 43%);
    width: 170px;
}

#span span {
    font-size: 16px;
    font-weight: 400;
    color: hsl(170, 45%, 43%);
}

.third-section {
    display: flex;
    background-color: hsl(238, 22%, 44%);
    padding: 20px;
    color: white;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
    padding: 100px 70px;
}

.content-2 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 50%;
}

.input-sec {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 10px;
}

.input-sec input {
    padding: 15px;
    border: .5px solid hsl(238, 22%, 44%);
    border-radius: 5px;
    width: 400px;
    outline: none;
}

footer {
    background-color: hsl(243, 87%, 12%);
    padding: 50px;
    color: white;
    padding: 50px 60px;

}

.content-footer {
    display: flex;
    margin-top: 15px;
    gap: 300px;
}

.contacts {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.infos {
    display: flex;
    gap: 300px;
}


.phone, .email {
    display: flex;
    gap: 15px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.content p {
    color: hsl(243, 87%, 12%);
}

h2 {
    color: hsl(243, 87%, 12%);
}

h4 {
    font-size: 20px;
}

nav {
    font-weight: 600;
    color: hsl(238, 22%, 44%);
}